<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html">
    <style type="text/css">{% include "layout.css" %}</style>
  </head>
  
  <body>
    <div id="container">
      <div id="banner">
        <div id="bannertitle">CSS Layout Template</div>
      </div>
      <div>
        <div>
          <div id="left">
            <div class="verticalmenu">
              <ul>
                <li><a href='upload'>Upload an image</a></li>
                <li><a href='image'>Show most recent image</a></li>
				<li><a href='search'>Search for an image</a></li>
              </ul>
            </div>
          </div>

          <div id="content">

{% block content %}
{% endblock %}

          </div>
        </div>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>