{% extends "base.html" %}

{% block content %}

<h2>Here is your image:</h2>
<p>
<img width=40% src='image_raw?special=latest'/>
</p>

{% if message %}
  {% for i in message %}
  <p>{{ i['alert'] }}</p>
  {% endfor %}
{% endif %}

<p>Score:</p>
<p><form action='increment_score'>
<input type="submit" value = "Like">
</form>
<form action='decrement_score'>
<input type="submit" value = "Dislike">
</form>
</p>

{% if comments %}
<table border=1 cellpadding=1 cellspacing=1>

  {% for i in comments %}
  <tr>
    <td id="thin">{{ i['user'] }}</td>
    <td valign="top">{{ i['words'] }}</td>
    <td id="thin">
      <a href=delete_comment?ci={{ i['index'] }}>delete</a>
    </td>
  </tr>
  {% endfor %}

</table>
{% endif %}

<p>Add a comment:</p>
<form enctype='multipart/form-data' action='add_comment' method='POST'>
<p><input type='text' name='comm' size=100></p>
<p><input type='submit'></p>
</form>
{% endblock %}
