{% extends "base.html" %}

{% block content %}

<h2>Image List:</h2>

{% if message %}
  {% for i in message %}
  <p>{{ i['alert'] }}</p>
  {% endfor %}
{% endif %}

{% if results %}

<table border=1 cellpadding=1 cellspacing=1>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Owner</th>
    <th>Score</th>
    <th></th>
  </tr>
  {% set counter = 0 %}
  {% for i in results %}
    <td>
      <a href=update_latest?i={{ i['index'] }}>{{ i['name'] }}</a>
    </td>
    <td valign="top">{{ i['desc'] }}</td>
    <td valign="top">{{ i['owner'] }}</td>
    <td valign="top">{{ i['score'] }}</td>
    <td valign="top">
      <a href=delete_image?i={{ i['index'] }}>delete</a>
    </td>
  </tr>
  {% endfor %}

</table>
{% else %} <p>No image found</p>
{% endif %}

{% endblock %}
