{% extends "base.html" %}

{% block content %}

<h2>Image Thumbnails:</h2>

<table border=0 cellspacing=5>

  {% set counter = 0 %}
  {% for i in results %}
    {% if counter == 4 or loop.first %}
      {% set counter = 0 %}
    <tr>
    {% endif %}
      <td id="thumb">
        <a href=update_latest?i={{ i['index'] }}>
          <img src='image_thumb?i={{ i['index'] }}' width=50 height=50>
        </a>
      </td>
    {% set counter = counter + 1 %}
    {% if counter == 4 or loop.last %}
    </tr>
    {% endif %}
  {% endfor %}

</table>

{% endblock %}