{% extends "base.html" %}
{% block content %}	
        <p><u>Form Submission via GET</u></p>
	<form action='/submit' method='GET'>
	<p>first name: <input type='text' name='firstname'></p>
	<p>last name: <input type='text' name='lastname'></p>
	<p><input type='submit' value='Submitz'>
	</form><p><br>
	<p><u>Form Submission via POST</u></p>
	<form action='/submit' method='POST'>
	<p>first name: <input type='text' name='firstname'></p>
	<p>last name: <input type='text' name='lastname'></p>
	<p><input type='submit' value='Submitz'>
	</form><p>
{% endblock %}
