{% extends "base.html" %}

{% block content %}
    <div id="container">
      <div id="banner">
        <div id="bannertitle">CSS Layout Template</div>
      </div>
      <div>
        <div>
          <div id="left">
            <div class="verticalmenu">
              <form enctype='multipart/form-data' action='image_upload' method='POST'>
              <p>Upload an Image: <input type='file' name='file'></p>
              <p>Description: <input type="text" name="description"></p>
              <input type='submit'>
              </form>

      </div>
          </div>

          <div id="content">
<img width=40% src='latest_image?t={{ time }}'/>
<h1>Name: {{ name }}</h1>
<h1>Description: {{ description }}</h1>

<a href='imageapp_list'>Click here to see all images uploaded.</a>


          </div>
        </div>
      </div>
      <div id="footer"></div>
    </div>
{% endblock %}
